/* ------ FOOTER  CONTACTO TODAS LAS PAGINAS ------ */
.contacto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffecec;
  background-image: linear-gradient(to bottom, #010102, #010102, #010102, #010102, #010102, #020203, #020203, #030304, #040405, #050507, #060608, #070709);
  padding: 40px;
  width: 100%; }
  .contacto p {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    padding: 10px; }
  .contacto h2 {
    padding: 20px; }

.contacto > div {
  display: flex;
  align-items: center;
  border-style: solid;
  padding: 5px;
  border-radius: 0.2em;
  border-color: #ffecec;
  border-width: 2px; }

.contacto div img {
  width: 50px;
  height: 50px;
  padding: 2px;
  border-color: #101215;
  border-radius: 10px; }

.link-streaming {
  display: flex;
  flex-direction: row-reverse;
  justify-content: left; }

.social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  padding: 10px; }

.social a {
  padding: 10px;
  text-align: center; }

.social a img:hover {
  transform: scale(1.05) translate(-3px); }

.link-streaming img:hover {
  transform: scale(1.05) translate(-3px); }

/* ------ NAVEGADOR HEADER TODAS LAS PAGINAS ------ */
.header {
  width: 100%;
  height: 100px; }
  .header nav {
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #050505 !important;
    padding-left: 50px;
    padding: 10px;
    color: #fcf1f1 !important; }
    .header nav h1 {
      display: flex;
      left: 160px;
      padding-right: 100px; }
    .header nav ul {
      display: flex;
      list-style: none;
      margin: 80px; }
      .header nav ul li a {
        text-decoration: none;
        color: #ffecec; }
    .header nav img {
      display: flex;
      justify-content: left;
      right: 30px;
      padding-left: 40px;
      padding-right: 0px;
      width: 7%;
      height: 10%;
      object-fit: contain;
      background-attachment: fixed;
      transition: all 3s ease; }

.header nav img:hover {
  transform: scale(0.8, 0.8);
  transform: rotate(360deg); }

.header nav ul li:hover {
  background-color: #ffffff; }

.header nav ul li a:hover {
  color: #010102; }

.item-boton {
  background-color: #ffecec; }

.item-navbar {
  background-color: #010102; }

/*  ---------------  PAGINA 1 PRINCIPAL  --------------   */
/* ---- BODY DE LA PAG 1 ---- */
.body-1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #f1f1ee;
  color: #0e0d0c;
  box-sizing: border-box; }

.main-1 {
  display: grid;
  grid-template-areas: "estadistica-actual aside" "historia-nba aside" "mejores mejores";
  margin: 0px;
  box-sizing: border-box;
  width: 100%; }

/* -- SECCION ESTADISTICA-- */
.estadistica-actual {
  grid-area: estadistica-actual;
  display: inline-block;
  text-align: center;
  background-color: #f0efea;
  padding: 10px; }
  .estadistica-actual h2 {
    justify-content: center;
    padding: 10px;
    background-color: #22448b;
    color: #f1f1ee; }

.lista-estadistica {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  padding-left: 0px; }
  .lista-estadistica div {
    background-color: #dfdfdb; }
    .lista-estadistica div img {
      width: 150px;
      margin: 10px; }

/* -- SECCION HISTORIA-- */
.historia-nba {
  grid-area: historia-nba;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #f0efea;
  padding: -50px;
  border: 2px solid #101215; }
  .historia-nba div h2 {
    justify-content: center; }
  .historia-nba div p {
    justify-content: center;
    padding: 10px; }

/* -- SECCION MEJORES DE LA HISTORIA-- */
.mejores-pag1 {
  grid-area: mejores;
  background-color: #f0efea;
  margin-top: 100px; }
  .mejores-pag1 div {
    align-items: center;
    text-align: center; }
    .mejores-pag1 div h2 {
      background-color: #1b3469;
      color: #f1f1ee; }

.estadistica-historica {
  text-align: center;
  align-items: center;
  background-color: #676e7c4b;
  margin-top: 0px;
  margin-bottom: 0px; }

.lista-estadistica-h {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 20px; }
  .lista-estadistica-h div {
    padding: 0px;
    margin: 10px;
    background-color: #dfdfdb;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
    .lista-estadistica-h div h4 {
      background-color: #1b3469;
      color: #f0efea; }

/* -- SECCION ASIDE-- */
.aside {
  grid-area: aside;
  background-color: #f0efea;
  justify-content: center;
  text-align: center;
  margin: 10px; }
  .aside h2 {
    justify-content: center;
    background-color: #0e0d0c;
    color: #f0efea;
    margin-left: 32px; }
  .aside ul {
    list-style-type: none;
    padding: 0px; }
    .aside ul li {
      margin: 40px;
      padding-top: 50px;
      background-color: #dfdfdb; }

.aside ul li iframe:hover {
  -webkit-box-shadow: 0px 1px 15px 2px #414141;
  box-shadow: 0px 1px 15px 2px #474747; }

.intro-aside {
  background-color: #ffffff;
  color: #141414;
  justify-content: center;
  width: auto; }
  .intro-aside img {
    width: 300px;
    height: 170px; }
  .intro-aside h3 {
    text-align: center;
    padding: 10px; }

/*         ---------------    PAGINA 2 ESTADISTICAS     ---------------      */
/*  ----- main y body pag 2-----  */
.estadisticas {
  display: flex;
  justify-content: space-around; }

.tabla {
  background-color: aliceblue;
  width: 30%; }

.body-pag2 {
  background-color: #060505;
  color: #ffecec; }

/* ----------------- PAGINA 3  HISTORIA DE LA NBA ----------------- */
/* ----- Body pag 3------ */
.body-3 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #ffecec; }

.titulo-principal {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.493), rgba(0, 0, 0, 0.425)), url(../imagenes/1partido.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .titulo-principal h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    font-weight: 400; }

.historia-pag3 {
  width: 100%;
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 350px; }
  .historia-pag3 div img {
    width: 100%;
    height: 100%;
    gap: 15px;
    object-fit: cover;
    -webkit-box-shadow: 2px 1px 15px 2px rgba(0, 0, 0, 0.86);
    box-shadow: 2px 1px 15px 2px rgba(0, 0, 0, 0.86); }

.grid-imagenes-8 {
  width: 100%;
  height: 100%; }

/* --- seccion comienzo de la nba --- */
.comienzo-historia {
  display: flex;
  flex-direction: column;
  color: black; }
  .comienzo-historia h3 {
    display: flex;
    flex-direction: column; }
  .comienzo-historia img {
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    width: 30%;
    height: 30%;
    padding: 10px; }

.historia-p1 {
  display: flex;
  font-size: 18px;
  padding: 10px; }

.historia-p2 {
  display: flex;
  font-size: 18px;
  padding: 10px; }

.historia-p3 {
  display: flex;
  font-size: 18px;
  padding: 10px; }

.historia-p4 {
  display: flex;
  font-size: 18px;
  padding: 10px; }

/*-------------- PAGINA 4 ALL TIME LEADERS ------------------*/
/* ------main pag 4 ------*/
.body-pag4 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  font-weight: 300; }

.principal {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.524)), url(../imagenes/hallfame.webp);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 40px;
  color: #fbf2f2; }
  .principal h2 {
    display: flex;
    flex-direction: column;
    text-align: center; }

.lideres {
  background-color: #0a0909; }

.lideres > h2 {
  color: #fbf2f2;
  width: 100%;
  text-align: center;
  justify-content: center;
  padding: 10px;
  border: 2px solid; }

.div-mayor {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  padding: 10px;
  flex-wrap: wrap;
  -webkit-box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.87);
  box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.87); }

.lideres div div h2 {
  color: #fbf2f2;
  justify-content: center;
  font-size: 20px; }

.lideres div div img {
  width: 100%;
  height: 220px; }

.lideres div div {
  border: 4px solid rgba(10, 9, 9, 0.383);
  border-style: dotted;
  width: 300px;
  height: 350px;
  text-align: center;
  background-color: #080707fe;
  color: #fbf2f2;
  margin: 10px;
  -webkit-box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.87);
  box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.87); }

/* ----------------- css de la pagina REGISTRO       ---------------- */
/* -----  BODY REGISTRO    ---- */
.h1-registro {
  background-color: #020208f9;
  padding: 20px;
  width: 100%;
  color: #fbf5f5cd;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  list-style-type: none;
  text-decoration: none; }

.BodyRegistro {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #020208f9;
  text-decoration: none; }

.registro {
  width: 400px;
  background-color: #020208f9;
  padding: 40px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
  text-decoration: none; }
  .registro h3 {
    text-align: center; }
  .registro h4 {
    margin-bottom: 20px;
    font-size: 22px;
    padding-top: 40px;
    text-align: left;
    text-decoration: none;
    text-decoration: none; }

.botones {
  width: 100%;
  padding: 8px;
  border-radius: 2px;
  margin-bottom: 16px;
  border: 1px solid #d6af2e;
  background-color: #0e2b48;
  font-size: 18px; }

.boton-enviar input:hover {
  background-color: #c25226;
  color: white; }

.boton-enviar input:active {
  background-color: rgba(207, 24, 0, 0.884);
  color: #090980; }

.nav-list a {
  display: inline;
  list-style-type: none;
  display: inline;
  text-decoration: none;
  list-style: none; }

/* -------- media QUERIES DE 768--------- */
@media screen and (max-width: 768px) {
  /* ------------ NAVBAR ---------------  */
  .header nav img {
    width: 50px;
    height: 50px;
    padding-left: 0px !important; }
  /* ------------ FOOTER ------------- */
  .contacto {
    flex-direction: column;
    padding: 0;
    width: 760px; }
  .contacto-contenedor {
    flex-direction: column-reverse;
    display: block;
    align-items: center;
    width: 370px; }
  .link-streaming {
    flex-direction: row-reverse; }
    .link-streaming a {
      justify-content: space-between; }
  .social {
    display: block; }
  /* -------------- MEDIA Q DE INDEX ------------- */
  /* --- main INDEX --- */
  .main-1 {
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 768px; }
  .body-1 {
    align-items: center;
    width: 768px; }
  /* --- estadistica actual INDEX --- */
  .estadistica-actual {
    grid-area: estadistica-actual;
    display: block;
    width: 760;
    align-items: center;
    justify-content: center;
    padding: 0; }
  .lista-estadistica {
    display: flex;
    flex-direction: row;
    width: 750px;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0; }
  .historia-nba {
    width: 740px; }
  /* --- Mejores de la historia INDEX --- */
  .mejores-pag1 {
    width: 750px; }
    .mejores-pag1 div {
      display: block;
      align-items: center;
      width: 750px; }
  .estadistica-historica {
    width: 750px; }
    .estadistica-historica h {
      width: 750px; }
      .estadistica-historica h div {
        padding: 0; }
  /* --- aside -- */
  .aside {
    width: 750px;
    justify-content: center;
    align-items: center; }
    .aside ul {
      display: block;
      justify-content: center;
      align-items: center;
      padding: 0;
      width: 740; }
      .aside ul li {
        width: 740px; }
        .aside ul li img {
          width: 250px; }
        .aside ul li iframe {
          width: 300px;
          height: 200px; } }

/* -------- media QUERIES DE 425--------- */
@media screen and (max-width: 425px) {
  /* ------------ NAVBAR --------------- */
  .header nav img {
    width: 50px;
    height: 50px;
    padding-left: 0px !important; }
  /* ------------ FOOTER ------------- */
  .contacto {
    flex-direction: column;
    padding: 0; }
  .contacto-contenedor {
    flex-direction: column-reverse;
    display: block;
    align-items: center;
    width: 375px; }
  .link-streaming {
    flex-direction: row-reverse; }
    .link-streaming a {
      justify-content: space-between; }
  .social {
    display: block; }
  /* -------------- MEDIA Q DE INDEX ------------- */
  /* --- main INDEX --- */
  .main-1 {
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 425px; }
  .body-1 {
    align-items: center;
    width: 100vw; }
  /* --- estadistica actual INDEX --- */
  .estadistica-actual {
    grid-area: estadistica-actual;
    display: block;
    width: 300px;
    align-items: center;
    justify-content: center;
    padding: 0; }
  .lista-estadistica {
    display: flex;
    flex-direction: column;
    width: 350px;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0; }
  /* --- Seccion Historia nba INDEX---- */
  .historia-nba {
    width: 400px; }
  /* --- Mejores de la historia INDEX --- */
  .mejores-pag1 {
    width: 420px; }
    .mejores-pag1 div {
      display: block;
      align-items: center;
      width: 420px; }
  .estadistica-historica {
    width: 420px; }
  .lista-estadistica-h {
    width: 420px; }
    .lista-estadistica-h div {
      padding: 0; }
  /* --- aside -- */
  .aside {
    width: 300px; }
    .aside ul li {
      width: 300px; }
      .aside ul li img {
        width: 250px; }
      .aside ul li imframe {
        width: 300px;
        height: 200px; } }

/* -------- ------MEDIA QUERIES ----------- */
@media screen and (max-width: 375px) {
  /* ------------ NAVBAR --------------- */
  .header nav img {
    width: 50px;
    height: 50px;
    padding-left: 0px !important; }
  /* ------------ FOOTER ------------- */
  .contacto {
    flex-direction: column;
    width: 375px;
    margin: 0;
    padding: 0; }
  .contacto-contenedor {
    flex-direction: column-reverse; }
  .link-streaming {
    flex-direction: row-reverse; }
  .link-streaming a {
    justify-content: space-between; }
  .contacto-contenedor {
    display: block;
    align-items: center;
    width: 350px; }
  .social {
    display: block; }
  /* -------------- MAIN BODY DE INDEX ------------- */
  /* --- main INDEX --- */
  .main-1 {
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 375px; }
  .body-1 {
    align-items: center; }
  /* --- estadistica actual INDEX --- */
  .estadistica-actual {
    grid-area: estadistica-actual;
    display: block;
    width: 300px;
    align-items: center;
    justify-content: center;
    padding: 0; }
  .lista-estadistica {
    display: flex;
    flex-direction: column;
    width: 350px;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0; }
  /* --- SECCION HISTORIA PAG INDEX---- */
  .historia-nba {
    width: 370px; }
  /* --- MEJORES DE LA HISTORIA PAG INDEX --- */
  .mejores-pag1 {
    width: 370px; }
  .mejores-pag1 div {
    display: block;
    align-items: center;
    width: 360px; }
  .estadistica-historica {
    width: 360px; }
  .lista-estadistica-h {
    width: 360px; }
  .lista-estadistica-h div {
    padding: 0; }
  /* ----- ASIDE  pagina INDEX--- */
  .aside {
    width: 300px; }
  .aside ul li {
    width: 300px; }
  .aside ul li img {
    width: 250px; }
  .aside ul li iframe {
    width: 300px;
    height: 200px; } }

/* --------------------MEDIA QUERIE DE PAGINA ESTADISTICA -------------------- */
/* -------- media QUERIES DE 768--------- */
@media screen and (max-width: 768px) {
  .estadisticas {
    flex-direction: column;
    align-items: center; }
  .tabla {
    width: 20%; } }
