/* ------ FOOTER  CONTACTO TODAS LAS PAGINAS ------ */
.contacto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffecec;
  background-image: linear-gradient(to bottom, #010102, #010102, #010102, #010102, #010102, #020203, #020203, #030304, #040405, #050507, #060608, #070709);
  padding: 40px; }
  .contacto p {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    padding: 10px; }
  .contacto h2 {
    padding: 20px; }

.contacto > div {
  display: flex;
  align-items: center;
  border-style: solid;
  padding: 5px;
  border-radius: 0.2em;
  border-color: #ffecec;
  border-width: 2px; }

.contacto div img {
  width: 100px;
  height: 100px;
  padding: 2px;
  border-color: #101215;
  border-radius: 10px; }

.link-streaming {
  display: flex;
  flex-direction: row-reverse;
  justify-content: left; }

.social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  padding: 10px; }

.social a {
  padding: 10px;
  text-align: center; }

.social a img:hover {
  transform: scale(1.05) translate(-3px); }

.link-streaming img:hover {
  transform: scale(1.05) translate(-3px); }

/* ------ NAVEGADOR HEADER TODAS LAS PAGINAS ------ */
.header {
  width: 100vw;
  height: 100px; }
  .header nav {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 80px;
    background-color: #050505 !important;
    padding-left: 50px;
    padding: 10px;
    color: #ffecec !important; }
    .header nav h1 {
      display: flex;
      left: 160px;
      padding-right: 100px; }
    .header nav ul {
      display: flex;
      list-style: none;
      margin: 80px; }
      .header nav ul li a {
        text-decoration: none;
        color: #ffecec; }
    .header nav img {
      display: flex;
      justify-content: left;
      right: 30px;
      padding-left: 40px;
      padding-right: 0px;
      width: 7%;
      height: 10%;
      object-fit: contain;
      background-attachment: fixed;
      transition: all 3s ease; }

.header nav img:hover {
  transform: scale(0.8, 0.8);
  transform: rotate(360deg); }

.header nav ul li:hover {
  background-color: #ffffff; }

.header nav ul li a:hover {
  color: #010102; }

.item-boton {
  background-color: #ffecec; }

.item-navbar {
  background-color: #010102; }

/*  ---------------  PAGINA 1 PRINCIPAL  --------------   */
/* ---- BODY DE LA PAG 1 ---- */
.body-1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #f0efea;
  color: #0e0d0c; }

.main-1 {
  display: grid;
  grid-template-areas: "estadistica-actual aside" "historia-nba aside" "mejores mejores";
  margin: 10px; }

/* -- SECCION ESTADISTICA-- */
.estadistica-actual {
  grid-area: estadistica-actual;
  display: inline-block;
  text-align: center;
  background-color: #f0efea;
  padding: 10px; }
  .estadistica-actual h2 {
    justify-content: center;
    padding: 10px; }

.lista-estadistica {
  display: flex;
  width: 200px;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  padding-left: 250px; }
  .lista-estadistica div img {
    width: 180px;
    margin: 10px; }

/* -- SECCION HISTORIA-- */
.historia-nba {
  grid-area: historia-nba;
  text-align: left;
  align-items: center;
  justify-content: center;
  background-color: #f0efea;
  padding: -50px;
  border: 2px solid #101215; }
  .historia-nba div h2 {
    justify-content: center; }
  .historia-nba div p {
    justify-content: center;
    padding: 10px; }

/* -- SECCION MEJORES DE LA HISTORIA-- */
.mejores-pag1 {
  grid-area: mejores;
  background-color: #f0efea;
  margin-top: 100px; }
  .mejores-pag1 div {
    align-items: center;
    text-align: center; }

.estadistica-historica {
  text-align: center;
  align-items: center;
  width: 1000px;
  justify-content: center;
  background-color: #f0efea; }

.lista-estadistica-h {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 20px; }
  .lista-estadistica-h div {
    padding: 30px; }

/* -- SECCION ASIDE-- */
.aside {
  grid-area: aside;
  background-color: #f0efea;
  text-align: center;
  width: 550px; }
  .aside h2 {
    justify-content: center; }
  .aside ul {
    list-style-type: none; }
    .aside ul li {
      padding: 10px;
      padding-top: 50px; }

.aside ul li iframe:hover {
  -webkit-box-shadow: 0px 1px 15px 2px #000000;
  box-shadow: 0px 1px 15px 2px #000000; }

.intro-aside {
  border: 3px solid #050505;
  background-color: #3d64b9;
  color: #f0efea;
  justify-content: center; }
  .intro-aside img {
    border: 2px solid #f7f7f7;
    border-radius: 2px;
    width: 350px;
    height: 200px; }
  .intro-aside h3 {
    text-align: center;
    padding: 10px; }
