/*         ---------------    PAGINA 2 ESTADISTICAS     ---------------      */



/*  ----- main y body pag 2-----  */

.estadisticas {
    display:flex;
    justify-content:space-around;
    
}



.tabla{
    background-color: aliceblue;
    width: 30%;

    tbody{
       .tr1{
            background-color: rgba(32, 65, 197, 0.685);
        }
    }

}




.body-pag2 {
    background-color: #060505;
    color: #ffecec;

    h2{
        font-family: 'Rubik', sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    p{
        margin: 10px;
        padding: 50px;
    }

    
        .titulo-equipo{
            padding: 100px;
            font-family: Impact, 'Arial Narrow Bold', sans-serif;
        }  



        .estadisticas-equipo{
            display: flex;
            justify-content:space-evenly!important;
            align-items:inherit;
            width: 100%;
        }

        .acordeon-estadistica{
            width: 400px!important;
            display: flex;
        }

        .acordeon-titulo{
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
            background-color: rgba(32, 65, 197, 0.685);
            color: #ffecec;
        
        }
        .promedio-liga{
            width: 100vw;
            background-color: rgba(33, 53, 125, 0.888)!important;
            color: #ffecec;
        }

       
}
   



