/*         ---------------    PAGINA 2 ESTADISTICAS     ---------------      */



/*  ----- main y body pag 2-----  */

.estadisticas {
    display:flex;
    justify-content:space-around;
    
}



.tabla{
    background-color: aliceblue;
    width: 30%;

}




.body-pag2 {
    background-color: #060505;
    color: #ffecec;
}
