/* -------- media QUERIES DE 768--------- */
@media screen and (max-width: 768px) {
    /* ------------ NAVBAR ---------------  */
   
       .header nav img{
           width:50px;
           height: 50px;
           padding-left:  0px!important;
       }
   
   
   
   /* ------------ FOOTER ------------- */ 
   .contacto{
       flex-direction:column ;
       padding: 0;
       width: 760px;
   }
   
   .contacto-contenedor{
       flex-direction: column-reverse;
       display: block;
       align-items: center;
       width: 370px;
   }
   
   .link-streaming{
       flex-direction: row-reverse;

       a{
        justify-content:space-between;
       }
   }
   
   .social{
       display: block;
   }
   
   
   
   /* -------------- MEDIA Q DE INDEX ------------- */
   /* --- main INDEX --- */
            .main-1{
           display: block;
           flex-direction: column;
           align-items: center ;
           justify-content: center;
           width: 768px;
       }
   
   
       .body-1 {
           align-items: center;
           width: 768px;
       }
   
       
       /* --- estadistica actual INDEX --- */
       .estadistica-actual {
           grid-area: estadistica-actual;
           display:block;
           width: 760;
           align-items:center;
           justify-content: center;
           padding: 0;
       }
   
   
       .lista-estadistica{
           display:flex;
           flex-direction: row;
           width: 750px;
           align-items: center;
           justify-content: center;
           padding: 0;
           margin:0;
       }

       .historia-nba{
           width: 740px;
       }
   
   
      /* --- Mejores de la historia INDEX --- */

      .mejores-pag1{
        width: 750px;

        div{
            display: block;
            align-items: center;
            width: 750px;
        }
    }


    .estadistica-historica{
        width: 750px;
        h{
            width: 750px;

            div{
                padding: 0; 
            }  
        }
    }


   
       /* --- aside -- */
       .aside{
           width: 750px;
           justify-content: center;
           align-items: center;

           ul{
            display: block;
            justify-content: center;
            align-items: center;
            padding: 0;
            width: 740;

            li{
                width: 740px;

                img{
                    width: 250px;
                }

                iframe{
                    width: 300px;
                    height: 200px;
                }
            }
           }
       }
   
    }  








/* -------- media QUERIES DE 425--------- */
@media screen and (max-width: 425px) {
/* ------------ NAVBAR --------------- */

    .header nav img{
        width:50px;
        height: 50px;
        padding-left:  0px!important;
    }



/* ------------ FOOTER ------------- */   
.contacto{
    flex-direction:column ;
    padding: 0;
}


.contacto-contenedor{
    flex-direction: column-reverse;
    display: block;
    align-items: center;
    width: 375px;
}


.link-streaming{
    flex-direction: row-reverse;
    a{
        justify-content:space-between;
    }
}

.social{
    display: block;
}


/* -------------- MEDIA Q DE INDEX ------------- */
/* --- main INDEX --- */
        .main-1{
        display: block;
        flex-direction: column;
        align-items: center ;
        justify-content: center;
        width: 425px;
    }


    .body-1 {
        align-items: center;
        width: 100vw;
    }

    
    /* --- estadistica actual INDEX --- */
    .estadistica-actual {
        grid-area: estadistica-actual;
        display:block;
        width: 300px;
        align-items:center;
        justify-content: center;
        padding: 0;
    }


    .lista-estadistica{
        display:flex;
        flex-direction: column;
        width: 350px;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin:0;
    }


        /* --- Seccion Historia nba INDEX---- */
        .historia-nba{
            width: 400px;
        }
    


     /* --- Mejores de la historia INDEX --- */

     .mejores-pag1{
        width: 420px;
        div{
            display: block;
            align-items: center;
            width: 420px;
        }
    }



    .estadistica-historica{
        width: 420px;
       
    }

    .lista-estadistica-h{
        width: 420px;

        div{
            padding: 0;
        }
    }



    /* --- aside -- */
    .aside{
        width: 300px;
        ul{
            li{
                width: 300px;
                img{
                    width: 250px;
                }

                imframe{
                    width: 300px;
        height: 200px;
                }
            }
        }
    }
}





/* -------- ------MEDIA QUERIES ----------- */
@media screen and (max-width: 375px) {
    /* ------------ NAVBAR --------------- */
        .header nav img{
            width:50px;
            height: 50px;
            padding-left:  0px!important;   
        }
    

    
    /* ------------ FOOTER ------------- */   
    .contacto{
        flex-direction:column ;
        width: 375px;
        margin: 0;
        padding: 0;
    }
    
    .contacto-contenedor{
        flex-direction: column-reverse;
    }
    
    .link-streaming{
        flex-direction: row-reverse;
    }
    
    .link-streaming a{
      justify-content:space-between;
    }
    
    .contacto-contenedor{
        display: block;
        align-items: center;
        width: 350px;
    }
    
    .social{
        display: block;
    }

    
    
    /* -------------- MAIN BODY DE INDEX ------------- */
    /* --- main INDEX --- */
            .main-1{
            display: block;
            flex-direction: column;
            align-items: center ;
            justify-content: center;
            width: 375px;
        }
    
        .body-1 {
            align-items: center;
        }
    
    
        
        /* --- estadistica actual INDEX --- */
        .estadistica-actual {
            grid-area: estadistica-actual;
            display:block;
            width: 300px;
            align-items:center;
            justify-content: center;
            padding: 0;
        }
    
        .lista-estadistica{
            display:flex;
            flex-direction: column;
            width: 350px;
            align-items: center;
            justify-content: center;
            padding: 0;
            margin:0;
        }
    

        /* --- SECCION HISTORIA PAG INDEX---- */
        .historia-nba{
            width: 370px;
        }
    

        /* --- MEJORES DE LA HISTORIA PAG INDEX --- */
        .mejores-pag1{
            width: 370px;
        }
        .mejores-pag1 div{
            display: block;
            align-items: center;
            width: 360px;
        }
    

        .estadistica-historica{
            width: 360px;
        }

        .lista-estadistica-h{
            width: 360px;
        }

        .lista-estadistica-h div{
            padding: 0;
        }
    
    
        /* ----- ASIDE  pagina INDEX--- */
        .aside{
            width: 300px;
        }
    
        .aside ul li{
            width: 300px;
        }
    
        .aside ul li img{
            width: 250px;
    
        }
    
        .aside ul li iframe{
            width: 300px;
            height: 200px;
        }
    }
    
    
    
    
    


              /* --------------------MEDIA QUERIE DE PAGINA ESTADISTICA -------------------- */

              /* -------- media QUERIES DE 768--------- */
@media screen and (max-width: 768px) {


    .estadisticas{
        flex-direction: column;
        align-items: center;
    }
    .tabla{
        width: 20%;
    }

}